# 시계열 데이터 탐색

## 시간조작하기

In [2]:
import pandas as pd

In [3]:
# 시간 유형 데이터 만들기
dates = ["2020-01-01","2020-03-01", "2021-09-01"]
dates

['2020-01-01', '2020-03-01', '2021-09-01']

In [5]:
# 날짜 타입으로 변환하기(형변환)
ts_dates = pd.to_datetime(dates)

In [7]:
ts_dates

DatetimeIndex(['2020-01-01', '2020-03-01', '2021-09-01'], dtype='datetime64[ns]', freq=None)

In [8]:
ts_dates[0]

Timestamp('2020-01-01 00:00:00')

In [9]:
type(ts_dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [10]:
# 날짜형태를 기간형태로 변환하기
pr_day = ts_dates.to_period(freq="D")

In [11]:
pr_day

PeriodIndex(['2020-01-01', '2020-03-01', '2021-09-01'], dtype='period[D]')

In [12]:
#  년월 단위로 추출하기
pr_month = ts_dates.to_period(freq = "M")

In [13]:
pr_month

PeriodIndex(['2020-01', '2020-03', '2021-09'], dtype='period[M]')

In [14]:
pr_year = ts_dates.to_period(freq = "Y")

In [15]:
pr_year

PeriodIndex(['2020', '2020', '2021'], dtype='period[A-DEC]')

In [94]:
# 타임스탬프
# timeseries.csv 파일을 읽어 들이시고 조회해 주세요..
file_path = "./data/timeseries.csv"
df = pd.read_csv(file_path)
df

         Date  Close  Start   High    Low  Volume
0  2015-07-02  10100  10850  10900  10000  137977
1  2016-06-29  10700  10550  10900   9990  170253
2  2017-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2019-06-26  10800  10900  11000  10700   63039

In [49]:
#new_Data 컬럼을 새로 만들고...
# Date 컬럼의 유형을 날짜 타입으로 변환해서
# new_Data 컬럼 생성 시 넣어 주세요..
df["new_Date"] = pd.to_datetime(df["Date"])

In [55]:
df["Date"]

0    2015-07-02
1    2016-06-29
2    2017-06-28
3    2018-06-27
4    2019-06-26
Name: Date, dtype: object

In [51]:
df

         Date  Close  Start   High    Low  Volume   new_Date
0  2015-07-02  10100  10850  10900  10000  137977 2015-07-02
1  2016-06-29  10700  10550  10900   9990  170253 2016-06-29
2  2017-06-28  10400  10900  10950  10150  155769 2017-06-28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4  2019-06-26  10800  10900  11000  10700   63039 2019-06-26

In [52]:
# 1. new_Date 컬럼의 0번째 값을 조회해 주세요...
# 2. 0번째 값의 일반타입도 조회해 주세요...

In [56]:
df["new_Date"][0]

Timestamp('2015-07-02 00:00:00')

In [57]:
df["new_Date"].iloc[0]

Timestamp('2015-07-02 00:00:00')

In [58]:
df["new_Date"].loc[0]

Timestamp('2015-07-02 00:00:00')

In [41]:
# Date 컬럼 지우기
df.drop("Date", axis=1 , inplace=True)

In [59]:
df

         Date  Close  Start   High    Low  Volume   new_Date
0  2015-07-02  10100  10850  10900  10000  137977 2015-07-02
1  2016-06-29  10700  10550  10900   9990  170253 2016-06-29
2  2017-06-28  10400  10900  10950  10150  155769 2017-06-28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4  2019-06-26  10800  10900  11000  10700   63039 2019-06-26

In [43]:
# 시계열 데이터러 만들기 위해서는...
# 가급적 index를 날짜 타입의 값으로 변경해 주는게 좋습니다.

df.set_index("new_Date" , inplace=True)

In [44]:
df

            Close  Start   High    Low  Volume
new_Date
2015-07-02  10100  10850  10900  10000  137977
2016-06-29  10700  10550  10900   9990  170253
2017-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2019-06-26  10800  10900  11000  10700   63039

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2015-07-02 to 2019-06-26
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   5 non-null      int64
 1   Start   5 non-null      int64
 2   High    5 non-null      int64
 3   Low     5 non-null      int64
 4   Volume  5 non-null      int64
dtypes: int64(5)
memory usage: 240.0 bytes

In [60]:
# 시간 유횽 데이터 만들기
dates = ["2020-01-01","2020-03-01","2021-09-01" ]
dates

['2020-01-01', '2020-03-01', '2021-09-01']

In [61]:
ts_dates

DatetimeIndex(['2020-01-01', '2020-03-01', '2021-09-01'], dtype='datetime64[ns]', freq=None)

In [62]:
#period 함수 사용하여 ...날짜 추출하기

In [63]:
# 년도 추출하기
pr_year = ts_dates.to_period(freq = "A")
pr_year = ts_dates.to_period(freq = "Y")

In [64]:
pr_year

PeriodIndex(['2020', '2020', '2021'], dtype='period[A-DEC]')

In [68]:
# 월 단위 추출
pr_month = ts_dates.to_period(freq ="M")
pr_month

PeriodIndex(['2020-01', '2020-03', '2021-09'], dtype='period[M]')

In [69]:
# 일 단위 추출
pr_day = ts_dates.to_period(freq ="D")
pr_day

PeriodIndex(['2020-01-01', '2020-03-01', '2021-09-01'], dtype='period[D]')

### 기간 설정하기

In [79]:
# start : 기간의 시작 값
# end : 기간의 끝 값
# periods : 생성할 기간의 갯구
# freq : 시간 간격 설정
# tz : 시간 국가 지정

# 2020년 1월 1일 시작으로..
# 종료 년도는 없구요
# 6개의 구간으로 나누기...
# 시간 간격을 월단위로 설정..
# 시간대는 아시아/서울 시간을 기준으로..
timestamp_df = pd.date_range(start = "2020-01-01",
                            end   = None,
                            periods =6,
                            freq="M",
                             tz = "Asia/Seoul"
                            )
timestamp_df

DatetimeIndex(['2020-01-31 00:00:00+09:00', '2020-02-29 00:00:00+09:00',
               '2020-03-31 00:00:00+09:00', '2020-04-30 00:00:00+09:00',
               '2020-05-31 00:00:00+09:00', '2020-06-30 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='M')

In [80]:
# period_range로 기간 설정하기

In [83]:
pr_y = pd.period_range(start = "2020-01-01",
                       end = None,
                      periods =3,
                      freq ="2Y")
pr_y

PeriodIndex(['2020-01-01 00:00', '2020-01-01 02:00', '2020-01-01 04:00'], dtype='period[2H]')

In [86]:
pr_h = pd.period_range(start = "2020-01-01",
                       end = None,
                      periods =3,
                      freq ="2H")
pr_h

PeriodIndex(['2020-01-01 00:00', '2020-01-01 02:00', '2020-01-01 04:00'], dtype='period[2H]')

In [87]:
pr_min = pd.period_range(start = "2020-01-01",
                       end = None,
                      periods =3,
                      freq ="2MIN")
pr_min

PeriodIndex(['2020-01-01 00:00', '2020-01-01 00:02', '2020-01-01 00:04'], dtype='period[2T]')

In [92]:
pr_s = pd.period_range(start = "2020-01-01",
                       end = None,
                      periods =3,
                      freq ="2S")
pr_s

PeriodIndex(['2020-01-01 00:00:00', '2020-01-01 00:00:02',
             '2020-01-01 00:00:04'],
            dtype='period[2S]')

In [93]:
# 2일 2시간 2분 2초 단위로
# 3개의 구간을 생성해 주세요...
# 시작값은 위와 같습니다...
pr_2s = pd.period_range(start = "2020-01-01",
                       end = None,
                      periods =3,
                      freq ="2D 2H 2MIN 2S")
pr_2s

PeriodIndex(['2020-01-01 00:00:00', '2020-01-03 02:02:02',
             '2020-01-05 04:04:04'],
            dtype='period[180122S]')

In [95]:
# timeseries.csv 파일을 읽어 들이시고 조회해 주세요..
file_path = "./data/timeseries.csv"
df = pd.read_csv(file_path)
df

         Date  Close  Start   High    Low  Volume
0  2015-07-02  10100  10850  10900  10000  137977
1  2016-06-29  10700  10550  10900   9990  170253
2  2017-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2019-06-26  10800  10900  11000  10700   63039

In [96]:
#new_Data 컬럼을 새로 만들고...
# Date 컬럼의 유형을 날짜 타입으로 변환해서
# new_Data 컬럼 생성 시 넣어 주세요..
df["new_Date"] = pd.to_datetime(df["Date"])

In [97]:
df

         Date  Close  Start   High    Low  Volume   new_Date
0  2015-07-02  10100  10850  10900  10000  137977 2015-07-02
1  2016-06-29  10700  10550  10900   9990  170253 2016-06-29
2  2017-06-28  10400  10900  10950  10150  155769 2017-06-28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4  2019-06-26  10800  10900  11000  10700   63039 2019-06-26

In [108]:
# to_period()함수 사용하여
df["Date_y"] = df["new_Date"].dt.to_period(freq="Y")

KeyError: 'new_Date'

In [99]:
df["Date_m"] = df["new_Date"].dt.to_period(freq="M")

In [111]:
df["Date_d"] = df["new_Date"].dt.to_period(freq="D")

KeyError: 'new_Date'

In [112]:
df

,Date,Close,Start,High,Low,Volume,Date_y,Date_m,Date_d
new_Date,,,,,,,,,
2015-07-02,2015-07-02,10100,10850,10900,10000,137977,2015,2015-07,2015-07-02
2016-06-29,2016-06-29,10700,10550,10900,9990,170253,2016,2016-06,2016-06-29
2017-06-28,2017-06-28,10400,10900,10950,10150,155769,2017,2017-06,2017-06-28
2018-06-27,2018-06-27,10900,10800,11050,10500,133548,2018,2018-06,2018-06-27
2019-06-26,2019-06-26,10800,10900,11000,10700,63039,2019,2019-06,2019-06-26

In [114]:
# new_Date 컬럼을 인덱스로 변환하기....
df.set_index("new_Date", inplace=True)

KeyError: "None of ['new_Date'] are in the columns"

In [115]:
df

,Date,Close,Start,High,Low,Volume,Date_y,Date_m,Date_d
new_Date,,,,,,,,,
2015-07-02,2015-07-02,10100,10850,10900,10000,137977,2015,2015-07,2015-07-02
2016-06-29,2016-06-29,10700,10550,10900,9990,170253,2016,2016-06,2016-06-29
2017-06-28,2017-06-28,10400,10900,10950,10150,155769,2017,2017-06,2017-06-28
2018-06-27,2018-06-27,10900,10800,11050,10500,133548,2018,2018-06,2018-06-27
2019-06-26,2019-06-26,10800,10900,11000,10700,63039,2019,2019-06,2019-06-26

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2015-07-02 to 2019-06-26
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5 non-null      object
 1   Close   5 non-null      int64
 2   Start   5 non-null      int64
 3   High    5 non-null      int64
 4   Low     5 non-null      int64
 5   Volume  5 non-null      int64
 6   Date_y  5 non-null      period[A-DEC]
 7   Date_m  5 non-null      period[M]
 8   Date_d  5 non-null      period[D]
dtypes: int64(5), object(1), period[A-DEC](1), period[D](1), period[M](1)
memory usage: 400.0+ bytes

In [117]:
# 날짜 인덱스값을 이용해서 데이터 조회하기...

In [118]:
# 인덱스 값이 2015년 7월 2일에 대한 데이터를 조회해 주세요
df.loc["2015-07-02"]

Date      2015-07-02
Close          10100
Start          10850
High           10900
Low            10000
Volume        137977
Date_y          2015
Date_m       2015-07
Date_d    2015-07-02
Name: 2015-07-02 00:00:00, dtype: object

In [120]:
df["2015-07"]

C:\Users\admin\AppData\Local\Temp/ipykernel_7576/2496551415.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df["2015-07"]

,Date,Close,Start,High,Low,Volume,Date_y,Date_m,Date_d
new_Date,,,,,,,,,
2015-07-02,2015-07-02,10100,10850,10900,10000,137977,2015,2015-07,2015-07-02

In [121]:
# 조회할 수 있는 인덱스 기간 설정
df.loc["2018-06-25" : "2019-06-28"]

,Date,Close,Start,High,Low,Volume,Date_y,Date_m,Date_d
new_Date,,,,,,,,,
2018-06-27,2018-06-27,10900,10800,11050,10500,133548,2018,2018-06,2018-06-27
2019-06-26,2019-06-26,10800,10900,11000,10700,63039,2019,2019-06,2019-06-26